///// GENERIC PAGE /////
.page-header {
	padding:0;
	border-bottom:none;

	&:after {
	    content:'';
	    width:auto;
	    width:25%;
	    height:1px;
	    border-bottom:$light-border;
	    display:block;
	    position:absolute;
	    margin:auto;

	    @include phone {
	    	width:50%;
	    }
	    @include tablet {
	    	width:50%;
	    }
	}
}




// submit page 
.page-template-template-app-submit {

	// .acf-tab-wrap.-top, .acf-field {
	//     display:none;
	// }
	// .acf-field-56d77bdbd2891 {
	//     display:block;
	//     max-width:300px;
	// }
	// .acf-fields > .acf-field {
	// 	padding-left: 0 !important;
	// }
}





/// CONTACT PAGE ///
.contact-support-image-row {
	padding:60px 0 0 0;
	font-size:0.8em;
	
	.image-link {
		max-width:150px;
		max-height:150px;
		display:block;
		margin:auto;
	}
	img {
		max-width:150px;
		max-height:150px;
		display:block;
		margin:auto;
	}

	p, .contact-content {
		background:$white-op5;
		border:$light-border;
		padding:15px;

		strong {
			width:100%;
			display: inline-block;
			font-size:1.5em;
		}
		@include phone {
			margin:30px auto 90px auto;
		}
		@include tablet {
			margin:30px auto 90px auto;
		}
	}

	p {
		margin:30px 0;
		text-align: center;
	}

	.contact-content {
		margin:0;

		ul {
			margin: 0;
			padding:0;
		}

		li {
			list-style-type: none;
			font-weight: 700;

			a {
				font-weight: 700;
			}
		}

		a strong {
			text-align: center;
		}

		span {
			opacity:0.8;
			font-style: italic;
			font-weight: 100;
		}
	}

	.tstr-support-block {

		.image-link {
			max-width:180px;
			max-height:180px;
		}
		img {
			max-height: 180px;
			max-width: 180px;

			@include phone {
				margin:-30px 0 0 0;
			}
			@include tablet {
				margin:-30px 0 0 0;
			}
		}
		p {
			margin:0;
		}
	}

}
.page-template-template-contact-page {
	 .contact-support-image-row {
	 	p {
	 		margin:0;
	 	}

	 	.col-md-6 {
	 		margin-bottom:30px;
	 	}
	 }
}

















// ARCHIVE PAGE
.archive-half {
	padding-left:0;
}


// APP ARCHIVE //
.app-archive-term-wrapper {
	margin:0 0 75px 0;
	padding-left:0;

	&:after {
	    content:'';
	    width:auto;
	    width:50%;
	    height:1px;
	    border-bottom:$light-border;
	    display:block;
	    position:absolute;
	    bottom:-45px;
	    margin:auto;

	}

	ul {
	 	list-style-type: none;
	 	padding:0;

	 	li {
			// clear:both;
			padding:15px 0 15px 0;
			min-height: 90px;
			display:inline-block;

	 		a {

	 			img {
	 				float: left;
	 				margin: 0 10px 0 0;
	 				max-height: 60px;
	 				max-width: 60px;
	 			}
	 		}
	 	}
	 }

	.get-info-btn {
		margin:0 10px 0 0;
	}
}
.term-heading {
	margin: 0 0 15px 0;
}





// for taxonomy pages
.app-archive-tax-image {
	float:left;
	margin:0 10px 0 0;
	max-height: 60px;
	max-width: 60px;
}



.app-archive-info-wrap {

	img {
		float:right;
		max-width:50%;

		@include phone {
			float: none;
			margin:auto;
			display: block;
		}
	}

	ul, p {
		font-size:0.8em;
		line-height:1.4em;
	}

}
.post-type-archive-apps ul {
	padding:0;
	list-style-type:none;

	&.app-archive-status-ul li {
		background:$white-op5;
		padding:5px;
		margin: 20px 0 60px 0;

		h2 {
			text-decoration:underline;
			margin-bottom: 20px;
		}

		ul li {
			background:none;
			display:inline-block;
			width:150px;
			text-align: center;
			line-height: 1.2;
			height:152px;
			overflow:hidden;
			border-right:$light-border;
			border-left:$light-border;
			padding:0 2px;
			margin:0 5px 20px;
			position:relative;
			font-size:0.8em;
			vertical-align: top;
			

			a {
				transition:0.2s;
				color:$white;
				font-weight: 700;
				

				&:hover {
					color:$brand-primary;

					img {
						-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
		    			filter: grayscale(100%);
					}
					
					.app-sticky {
						background:$dark-grey;
						box-shadow:none;
						// text-shadow:none;
					}


				}
			}

			

			img {
				display: block;
				height:100px;
				width:100px;
				margin:auto auto 5px auto;
				transition:0.2s;
				
			}

			.app-sticky {
				position:absolute;
				background:$brand-hover;
				color:$white;
				padding:2px;
				// border-radius:5px;
				top:74px;
				right:5px;
				font-size:0.9em;
				box-shadow:-1px 1px 1px $dark-grey;
				text-shadow: -1px 1px 1px $dark-grey;
				transition:0.2s;

				&.green {
					background:$green;
				}

				&.red {
					background:$red;
				}

			}
		}
	}
}

.tax-search-terms .tax-page-ul,  .tax-devices .tax-page-ul, .tax-status .tax-page-ul, .tax-genres .tax-page-ul, .page-template-template-free-apps .tax-page-ul, .tax-page-ul {
	padding:0;
	list-style-type:none;

	li {
		background:none;
		display:inline-block;
		width:150px;
		text-align: center;
		line-height: 1.2;
		height:152px;
		overflow:hidden;
		border-right:$light-border;
		border-left:$light-border;
		padding:0 2px;
		margin:0 5px 20px;
		position:relative;
		font-size:0.8em;
		vertical-align: top;
			

		a {
			transition:0.2s;
			color:$white;
			font-weight: 700;
			height:152px;
			display: block;
			overflow: hidden;

			&:hover {
				color:$brand-primary;

				img {
					-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	    			filter: grayscale(100%);
				}
				
				.app-sticky {
					background:$dark-grey;
					box-shadow:none;
				}


			}
		}

			

		img {
			display: block;
			height:100px;
			width:100px;
			margin:auto auto 5px auto;
			transition:0.2s;
			
		}

		
	
	}
}







.app-sticky {
	position:absolute;
	background:$brand-hover;
	color:$white;
	padding:2px;
	border:1px solid $white;
	top:74px;
	right:5px;
	box-shadow:-1px 1px 1px $dark-grey;
	text-shadow: -1px 1px 1px $dark-grey;
	transition:0.2s;

	&.green {
		background:$green;
	}

	&.red {
		background:$red;
	}

}

.version-update {
	&:before {
		font-family: 'FontAwesome';
		content: "\f069";
		position:absolute;
		top:-12px;
		right:-6px;
		color:$brand-primary;
	}
}








// downloads page 
.page-template-template-downloads-page {

	.downloads-section {
		margin:0 0 60px 0;

		h3 {

			&:after {
			    content:'';
			    padding:0 0 10px 0;
			    width:auto;
			    width:50%;
			    height:1px;
			    border-bottom:$light-border;
			    display:block;
			}
		}

		.col-sm-4 {
			margin:15px 0 30px 0;
			text-align: center;

			img {
				height:150px;
				width:150px;
				display:block;
				margin:auto;
			}
		}

	}
}